.recipeDetail {
  background-color: black;
  color: lightgray;
}
.recipeDetail .ingridients {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}
.recipeDetail .left-heading h2 {
  margin-top: 50px;
}

.recipeDetail .left-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.recipeDetail .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "left-heading left-heading"
    "like-save image"
    "ingredients instructions";
  gap: 20px;
}

.recipeDetail .left-heading {
  grid-area: left-heading;
}

.like-icon,
.save-recipe {
  grid-area: like-save;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeDetail .grid img {
  grid-area: image;
  width: 100%;
  margin: 0 auto;
}

.recipeDetail .ingredients {
  grid-area: ingredients;
  list-style: none;
  text-align: center;
  margin-top: 10px;
}

.recipeDetail .instructions {
  grid-area: instructions;
  text-align: left;
  padding-right: 5%;
}

.like-icon,
.save-recipe {
  cursor: pointer;
}

.like-icon i {
  color: lightgray;
  font-size: 2.5em;
}

.like-icon:hover + .save-recipe,
.save-recipe:hover + .like-icon {
  color: red;
}

.like-icon:hover,
.save-recipe:hover {
  color: red;
}

.like-icon:hover i {
  color: red;
}

.save-recipe {
  font-size: 1.5em;
}

/* Media query*/
@media (max-width: 768px) {
  .recipeDetail .grid {
    grid-template-columns: 1fr;
  }

  .recipeDetail .grid img {
    width: 100%;
    margin: 0 auto;
  }

  .recipeDetail .ingredients,
  .recipeDetail .instructions {
    padding: 0 5%;
  }
}
